* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
}

.container {
	text-align: center;
	display: grid;
	gap: 5px;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 1fr 4fr;
	height: 100%;
}

.container div {
	padding: 15px;
	font-size: 32px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}

.header {
	background-color: #393f4d;
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.logo {
	margin-right: auto;
}

.menu {
}

.menu ul {
	margin-left: auto;
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	justify-content: right;
	gap: 15%;
}

.menu ul,
.menu li {
	font-size: 16px;
	list-style: none;
}

.sidebar {
	background-color: #ff7755;
	grid-row: 2/4;
	display: grid;
	grid-template-rows: auto;
	grid-auto-flow: row;
	gap: 60px;
}

.sidebar .photo {
	background-color: white;
	color: black;
	font-size: 12px;
	font-weight: normal;
	border-radius: 10px;
	display: grid;
	place-items: center;
}

.photo {
}

.sidebar .side-content {
	background-color: white;
	color: black;
	font-size: 16px;
	font-weight: normal;
	display: grid;
	place-items: center;
}

.nav {
	background-color: #ff7755;
}

.nav ul {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
}

.nav ul li {
	font-size: 16px;
	text-transform: uppercase;
	list-style: none;
}

.article {
	background-color: #bccbde;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 15px;
}

.article p {
	font-size: 18px;
	font-family: sans-serif;
	color: white;
	text-align: left;
}

.article .card {
	background-color: #ffffff;
	color: black;
	text-align: center;
	/* height: 200px; */
}

.card p {
	color: black;
	font-weight: normal;
	font-size: 14px;
}

.card .title {
	font-size: 18px;
	text-align: center;
}

.footer {
	background-color: #393f4d;
	grid-column: 1/-1;
}

.footer p {
	font-size: 13px;
	font-weight: normal;
}
